html body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: seashell;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    list-style: none;
}

.container body {
    width: 1200px;
}

h2 {
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

h4 {
    text-align: center;
}

h4 {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

#header {
    position: fixed;
    z-index: 1;
}

.navigation-container {
    height: 69px;
    width: 100vw;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    overflow: hidden
}

.logo {
    height: 50px;
    margin-left: 10px;
    align-self: center;
    opacity: 0.9;   
}
 
#list {
    display: inline-flex;
    align-items: center;
}

.list-item {
    margin-right: 1.5rem;
    opacity: 0.9;
}

.list-container {
    display: flex;
    justify-content: space-between;
}

.mission-container {
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-image: url("resources/images/img-mission-background.webp");
    background-repeat: no-repeat;
    background-position-x: center;
    height: 35rem;
    width: 100%;
    opacity: 0.9;
}

.mission-banner {
    text-align: center;
    background-color: black;
    width: 100%;
}

.tea-container {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 4rem;
}

.gallery-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    /* max-width: 1000px; */
    
}
.card {
    display: flex;
    flex-direction: column;
    left: 1.5rem;
    padding: 0.3rem 1rem;
}

.imgBox {
    height: 200px;
    width: 300px;
    opacity: 0.9;
}


#galleryImg {
    height: 200px;
    width: 300px;
}

.content {
    text-align: center;
    display: block;
    margin: 10px 0;
}

.location-container {
    display: flex;
    height: 500px;
    /* width: 100%; */
    margin-top: 4rem;
    justify-content: center;
    /* align-items: center; */
    /* flex-flow: row wrap; */
    flex-direction: column;
    background-image: url("resources/images/img-locations-background.webp");
    background-repeat: no-repeat;
    background-position-x: center;
}

.locations-title {
    /* margin-top: 10px; */
    background-color: transparent;
    text-align: center;
}

#locations {
    background-color: transparent;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    /* flex-flow: row wrap; */
    height: 230px;
    /* width: 80%; */
    /* align-items: center; */
    background-color: transparent;
}

.locationCard {
    margin: 0 15px;
    height: 100%;
    width: 300px;
}

#locationTitle{
    text-align: center;
    padding: 0.8rem 0;
}


#locationContent {
    text-align: center;
    font-weight: lighter;
    padding: 0.8rem 0;
    
}

.contact-container {
    text-align: center;
}

.contact {
    margin-bottom: 1.5rem;
    opacity: 0.9;
}

footer {
    text-align: left;
    margin: 1rem 0;
    margin-left: 1rem;
}

.copyright {
    color: gray;
}


